/* #region assets */

/* colors */
:root{
    --boo-primary:#ff6900;
    --boo-red:#ff0000;
    --boo-green:#008000;
    --boo-footer:#1a1a1a;
}

/* sizes */
.container{
    width: 100vw;
}

.wd70{
    width: 70%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wd32{
    width: 32%;
}

/* properties */

.df{
    display: flex;
}

.aic{
    align-items: center;
}

.jcc{
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}

.row{
    margin-top: 3rem;
}

/* #endregion assets */


/* #region header */

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header > .container{
    background-color: var(--boo-primary);
    
}

.header-sex{
    justify-content: flex-start;
}

.header-sex a{
    text-decoration: none;
    color: white;
    margin: 2rem 0.6rem 2rem 0;
    
}

.header-logo{
    justify-content: center;
    
}

.header-logo img{
    height: auto;
    width: 40%;
}

.header-user{
    justify-content: flex-end;
    color: white;
}

.header-user svg{
    margin: 2rem 0 2rem 0.6rem;
    cursor: pointer;
}

/* #endregion header */

/* #region main */

main>.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    position: relative;
}

.save-article{
    background-color: white;
    position: absolute;
    font-size: 2rem;
    right: 0;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.save-article:hover{
    color: var(--boo-red);
}

.info-article{
    position: absolute;
    left: 0;
    bottom: 2rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
}

.discount{
    background-color: var(--boo-red);
    padding: 0.4rem;
    margin-right: 0.3rem;
}

.sustainability{
    background-color: var(--boo-green);
    padding: 0.4rem;
}

.brand , .price{
    font-size: 0.8rem;
}

.brand{
    font-weight: 100;
}

.art-name{
    font-weight: 600;
}

.price > span{
    color: var(--boo-red);
    font-weight: 600;
}
/* #endregion main */

/* #region footer */

    footer>.container{
        background-color: var(--boo-footer);
    }

    .credits , .socials{
        color: white;
        margin: 1rem 0;
    }

    .credits>h3{
        font-size: 1.2rem;
    }

    .legals a{
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        margin: 0 0.2rem 0 0;
    }

    .socials>h3{
        font-size: 1rem;
    }

    .icons svg{
        margin: 0.2rem;
        cursor: pointer;
    }
/* #endregion footer */